body {
  font-family: "Google Sans", arial, sans-serif;
}
h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 15px;
}
ul {
  margin: 0 0 20px;
  padding: 0;
}
li {
  color: rgb(112, 117, 122);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-height: 1;
  list-style: none;
}

.Humidity {
  padding-left: 150px;
}
.wind {
  padding-left: 150px;
}
.weather-app-wrapper {
  max-width: 650px;
  margin: 40px auto;
}

.weather-app {
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  padding: 20px;
}

.weather-icon {
  height: 65px;
  width: 65px;
  margin-right: 5px;
}

.temperature {
  color: rgb(32, 33, 36);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -35px;
}
.form.control {
  margin: 20px;
}

.clearfix .active {
  color: black;
}

.clearfix .active:hover {
  text-decoration: none;
}
